<div left-menu></div>
<div class="main-panel">
    <div top-menu></div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Commission</h4>
                            <p class="category">Commission</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth">
                                <svg width="100%" height="100%" class="ct-chart-pie" style="width: 100%; height: 100%;">
                                    <g class="ct-series ct-series-c">
                                        <path d="M146.5,5A117.5,117.5,0,0,0,102.864,13.403L146.5,122.5Z"
                                              class="ct-slice-pie" value="6"></path>
                                    </g>
                                    <g class="ct-series ct-series-b">
                                        <path d="M103.245,13.251A117.5,117.5,0,0,0,66.365,208.434L146.5,122.5Z"
                                              class="ct-slice-pie" value="32"></path>
                                    </g>
                                    <g class="ct-series ct-series-a">
                                        <path d="M66.066,208.154A117.5,117.5,0,1,0,146.5,5L146.5,122.5Z"
                                              class="ct-slice-pie" value="62"></path>
                                    </g>
                                    <g>
                                        <text dx="201.12436854593477" dy="144.12731747022482" text-anchor="middle"
                                              class="ct-label">62%
                                        </text>
                                        <text dx="88.79062401968952" dy="111.49134776808874" text-anchor="middle"
                                              class="ct-label">32%
                                        </text>
                                        <text dx="135.49134776808862" dy="64.79062401968955" text-anchor="middle"
                                              class="ct-label">6%
                                        </text>
                                    </g>
                                </svg>
                                \
                            </div>

                            <div class="footer">

                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Loyalty</h4>
                            <p class="category">Loyalty</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth">
                                <svg width="100%" height="100%" class="ct-chart-pie" style="width: 100%; height: 100%;">
                                    <g class="ct-series ct-series-c">
                                        <path d="M146.5,5A117.5,117.5,0,0,0,102.864,13.403L146.5,122.5Z"
                                              class="ct-slice-pie" value="6"></path>
                                    </g>
                                    <g class="ct-series ct-series-b">
                                        <path d="M103.245,13.251A117.5,117.5,0,0,0,66.365,208.434L146.5,122.5Z"
                                              class="ct-slice-pie" value="32"></path>
                                    </g>
                                    <g class="ct-series ct-series-a">
                                        <path d="M66.066,208.154A117.5,117.5,0,1,0,146.5,5L146.5,122.5Z"
                                              class="ct-slice-pie" value="62"></path>
                                    </g>
                                    <g>
                                        <text dx="201.12436854593477" dy="144.12731747022482" text-anchor="middle"
                                              class="ct-label">62%
                                        </text>
                                        <text dx="88.79062401968952" dy="111.49134776808874" text-anchor="middle"
                                              class="ct-label">32%
                                        </text>
                                        <text dx="135.49134776808862" dy="64.79062401968955" text-anchor="middle"
                                              class="ct-label">6%
                                        </text>
                                    </g>
                                </svg>
                            </div>

                            <div class="footer">

                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" ng-click="goToProfile()" style="cursor: pointer;">
                        <div class="header">
                            <h4 class="title">{{currentUser.name}}'s profile</h4>
                            <p class="category">{{currentUser.name}}</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth" style="text-align: center;">
                                <img class="border-gray" src="resources/themes/lbd/assets/img/profile9.png" alt="..."
                                     width="80%" height="80%">
                            </div>

                            <div class="footer">

                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

