<!-- left side -->
<div class="sidebar" data-color="purple" data-image="resources/themes/lbd/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Max Centive
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="" ui-sref="admin">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="" ui-sref="profile">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>

        </ul>
    </div>
</div>