<div left-menu></div>
<div class="main-panel">
    <div top-menu></div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&amp;fm=jpg&amp;h=300&amp;q=75&amp;w=400"
                                 alt="...">
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray"
                                         src="resources/themes/lbd/assets/img/faces/face-3.jpg" alt="...">

                                    <h4 class="title">{{currentUser.name}}<br>
                                        <small>{{currentUser.name}}</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> "Lamborghini Mercy <br>
                                Your chick she so thirsty <br>
                                I'm in that two seat Lambo"
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card" style="height: 800px;">
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: isSet(1)}"><a href="" ng-click="setTab(1)">Your team</a></li>
                            <li ng-class="{ active: isSet(2)}"><a data-toggle="tab" href=""
                                                                  ng-click="setTab(2)">Loyalty</a></li>
                            <li ng-class="{ active: isSet(3)}"><a data-toggle="tab" href="" ng-click="setTab(3)">Payment
                                option</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade " ng-class="{ active: isSet(1), in:  isSet(1)}"
                                 ng-show="isSet(1)">
                                <h3>Your team</h3>
                                <div id="chart_div"></div>
                            </div>
                            <div class="tab-pane fade" ng-class="{ active: isSet(2), in:  isSet(2)}" ng-show="isSet(2)">
                                <h3>Loyalty</h3>
                                <p>Loyalty</p>
                            </div>
                            <div class="tab-pane fade" ng-class="{ active: isSet(3), in:  isSet(3)}" ng-show="isSet(3)">
                                <h3>Payment option</h3>
                                <div class="funkyradio">
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio1">
                                        <label for="radio1">Credit Card</label>
                                    </div>
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio2">
                                        <label for="radio2">Paypal</label>
                                    </div>
                                    <div class="funkyradio-info">
                                        <input type="radio" name="radio" id="radio3">
                                        <label for="radio3">Debit</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>



