.pagination > li.page-item > a.page-link {
    color: #9c27b0;
}

.pagination > li.page-item.active > a.page-link {
    background-color: #9c27b0;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 50%;
}

.img-thumbnail-sm {
    width: 50px;
    height: 50px;
}

.img-thumbnail-md {
    width: 100px;
    height: 100px;
}

.form-control[readonly="true"] {
    background-color: transparent;
    cursor: not-allowed;
}

.btn-fill {
    width: 100%;
}
